.default_color {
	background-color: #2196F3 !important
}
.default_color_text {
	color: #2196F3 !important
}
.icon-block {
	padding: 015px
}
#intro, #work, #team, #status {
	padding-top: 4rem
}
video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    max-height: 800px;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
background: url(image/firstframe.png) no-repeat;
    background-size: cover; 
}
#index-banner {
	min-height: 632px;
	max-height: 864px;
	position: relative;
}
#nav_f {
	box-shadow: none !important;
	-webkit-box-shadow: none !important
}
.text_h {
	padding: 15% 0;
	font-size: 6.0em;
	font-weight: 100;
	color: white
}
.brand-logo {
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: 2.1 rem;
	font-style: normal;
	font-weight: 100;
	padding: 0;
	letter-spacing: 7px
}
.text_h2 {
	font-weight: 100;
	margin-bottom: 4%;
	line-height: 4.5 rem
}
.span_h2 {
	font-weight: 300;
	color: #2196F3
}
.text_b {
	color: #2196F3
}
.in {
	font-weight: 400 !important;
	font-style: normal !important
}
.promo
i {
	color: #2196F3;
	font-size: 7rem;
	display: block
}
.card-content
a {
	color: #2196F3
}
.card-content a:hover {
	color: #2196F3
}
#work, #team, #status {
	background: rgb(247,247,247)
}
.text_pink {
	color: #EF9A9A
}
nav ul
a {
	font-size: 1.2 rem;
	color: #FFF;
	letter-spacing: 2px;
	display: block;
	font-weight: 300;
	padding: 0px15px
}
.cd-headline.type .cd-words-wrapper {
	vertical-align: top;
	overflow: hidden
}
.cd-headline.type .cd-words-wrapper::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 90%;
	width: 1px;
	background-color: #aebcb9
}
.cd-headline.type .cd-words-wrapper.waiting::after {
	-webkit-animation: cd-pulse 1s infinite;
	-moz-animation: cd-pulse 1s infinite;
	animation: cd-pulse 1s infinite
}
.cd-headline.type .cd-words-wrapper.selected {
	background-color: #FFF
}
.cd-headline.type .cd-words-wrapper.selected::after {
	visibility: hidden
}
.cd-headline.type .cd-words-wrapper.selected
b {
	color: #2196F3
}
.cd-headline.type
b {
	visibility: hidden
}
.cd-headline.type b.is-visible {
	visibility: visible
}
.cd-headline.type
i {
	position: absolute;
	visibility: hidden
}
.cd-headline.type
i.in {
	position: relative;
	visibility: visible
}@-webkit-keyframes cd-pulse{0%{-webkit-transform:translateY(-50%) scale(1);opacity:1}40%{-webkit-transform:translateY(-50%) scale(0.9);opacity:0}100%{-webkit-transform:translateY(-50%) scale(0);opacity:0}}@-moz-keyframes cd-pulse{0%{-moz-transform:translateY(-50%) scale(1);opacity:1}40%{-moz-transform:translateY(-50%) scale(0.9);opacity:0}100%{-moz-transform:translateY(-50%) scale(0);opacity:0}}@keyframes cd-pulse{0%{-webkit-transform:translateY(-50%) scale(1);-moz-transform:translateY(-50%) scale(1);-ms-transform:translateY(-50%) scale(1);-o-transform:translateY(-50%) scale(1);transform:translateY(-50%) scale(1);opacity:1}40%{-webkit-transform:translateY(-50%) scale(0.9);-moz-transform:translateY(-50%) scale(0.9);-ms-transform:translateY(-50%) scale(0.9);-o-transform:translateY(-50%) scale(0.9);transform:translateY(-50%) scale(0.9);opacity:0}100%{-webkit-transform:translateY(-50%) scale(0);-moz-transform:translateY(-50%) scale(0);-ms-transform:translateY(-50%) scale(0);-o-transform:translateY(-50%) scale(0);transform:translateY(-50%) scale(0);opacity:0}}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1200
}

@media only screen and (max-width: 480px) {
	.text_h {
		padding: 4% 0;
		font-size: 5em;
		font-weight: 100;
		color: white
	}
}
input, textarea {
	border-bottom: 1px solid #fff
}
nav a.button-collapse {
	left: -25px
}
.card-avatar .waves-effect {
	text-align: center;
	margin-top: 20px
}
 #nor /*Look up CSS ID and classes http://www.w3schools.com/cssref/css_selectors.asp*/
 {
	height: 150px;
	width: 112px;
    border-radius: 75px
}
.card-avatar
img {
	height: 150px;
	width: 150px;
	border-radius: 75px
}
.card-avatar .card-content {
	text-align: center
}
.card .card-content
p {
	margin: 15px0px
}
.card-avatar .card-content
i {
	font-size: 1.5 rem
}
.card-avatar .card-content .card-title {
	line-height: 30px !important
}
.cd-popup-trigger {
  display: block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  margin: 3em auto;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50em;
  background: #35a785;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-trigger {
    margin: 6em auto;
  }
}

/* -------------------------------- 

xpopup 

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
.parallax-container {
	max-height: 400px
}
footer.page-footer {
    min-height: 200px
	margin-top: 0px !important
}