.default_color {
    background-color: rgb(33, 150, 243) !important;
}

.default_color_text {
    color: rgb(33, 150, 243) !important;
}

/*.icon-block {
    padding: 15px;
}*/


#work,
#team,
#status {
    padding-top: 5rem;
}

/*video#bgvid {
    position: relative;
/*
    top: 50%;
    left: 50%;
*/
 /*   width: auto;
    height: auto;
/*    z-index: -100;*/
/*
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
*/
   /* background: url(file:///C:/Users/Ronobir/Desktop/Web/mygithubpage/min/image/firstframe.PNG) no-repeat;
}*/

/*#index-banner {
    position: relative;
    height: auto;
    width: auto;
}*/

#nav_f {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.text_h {
    padding: 15% 0px;
    font-size: 6em;
    font-weight: 100;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.brand-logo {
    position: static;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    padding: 0px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.text_h2 {
    font-weight: 100;
    margin-bottom: 4%;
    font-family: 'Roboto', sans-serif;
}

.span_h2 {
    font-weight: 300;
    color: rgb(33, 150, 243);
    font-family: 'Roboto', sans-serif;
}

.text_b {
    color: rgb(33, 150, 243);
    font-family: 'Roboto', sans-serif;
}

.in {
    font-weight: 400 !important;
    font-style: normal !important;
    font-family: 'Roboto', sans-serif;
}

.promo i {
    color: rgb(33, 150, 243);
    font-size: 5rem;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.card-content a {
    color: rgb(33, 150, 243);
}

.card-content a:hover {
    color: rgb(33, 150, 243);
}

#work,
#team,
#status {
    background: rgb(247, 247, 247);
}

.text_pink {
    color: rgb(239, 154, 154);
}

nav ul a {
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: rgb(174, 188, 185);
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
    background-color: rgb(255, 255, 255);
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: rgb(33, 150, 243);
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}

.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

#preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1200;
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0px;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input,
textarea {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

/*
#nor {
    height: 150px;
    width: 112px;
    border-radius: 75px;
}
*/

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {}

.card-avatar .card-content i {}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.cd-popup-trigger {
    display: block;
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin: 3em auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50em;
    box-shadow: rgba(0, 0, 0, 0.0666667) 0px 3px 0px;
    background: rgb(53, 167, 133);
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1170px) {
    .cd-popup-trigger {
        margin: 6em auto;
    }
}

.cd-popup {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    background-color: rgba(94, 110, 141, 0.901961);
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    border-radius: 0.25em 0.25em 0.4em 0.4em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-backface-visibility: hidden;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    background: rgb(255, 255, 255);
}

.cd-popup-container p {
    padding: 3em 1em;
}

.cd-popup-container .cd-buttons::after {
    content: '';
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
}

.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-popup-container .cd-buttons li:first-child a {
    border-radius: 0px 0px 0px 0.25em;
    background: rgb(252, 113, 105);
}

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: rgb(252, 137, 130);
}

.cd-popup-container .cd-buttons li:last-child a {
    border-radius: 0px 0px 0.25em;
    background: rgb(182, 190, 206);
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: rgb(197, 204, 216);
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: rgb(143, 156, 181);
}

.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
    .parallax-container {
        max-height: 400px;
    }
    footer.page-footer {}
}